COMPOSE_FILE=compose.yml:dev.yml:old-database.sql

SECRET_KEY="test-only-F_2WlLpYoTNaTc1ae_ucqmrH_M5yGPoC"
DEBUG=true
SEARCH_AUTO_REINDEX=false
SEARCH_REINDEX_DEBOUNCE_SECONDS=10
SITE_NAME="Local test"

# Compose/runtime services
MEILI_ENV=development
DJANGO_SETTINGS_MODULE=config.settings
MEILISEARCH_URL=http://meilisearch:7700
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# PostgreSQL service
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=local
POSTGRES_USER=postgres
POSTGRES_PASSWORD=F_2WlLpYoTNaTc1ae_ucqmrH_M5yGPoC
PGDATA=/var/lib/postgresql/18/docker

# pgAdmin service
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

# Database
DATABASE_URL="postgresql://postgres:F_2WlLpYoTNaTc1ae_ucqmrH_M5yGPoC@postgres:5432/local"

# IIIF
IIIF_HOST=http://localhost:1024

# CORS and Hosts
ALLOWED_HOSTS=localhost
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000,http://frontend
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://localhost:8000,http://frontend
SESSION_COOKIE_DOMAIN=
CSRF_COOKIE_DOMAIN=

# Choices
HISTORICAL_ITEM_TYPES="Agreement,Charter,Letter"
HISTORICAL_ITEM_HAIR_TYPES="FHFH,FHHF,HFFH,HFHF,Mixed"
REPOSITORY_TYPES="Library,Institution,Person,Online Resource"
CHARACTER_ITEM_TYPES="Majuscule Letter,Minuscule Letter,Numeral,Punctuation,Symbol,Accent"

# Meilisearch
MEILISEARCH_API_KEY=
MEILISEARCH_INDEX_PREFIX=
